@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200&display=swap');

html{
    box-sizing: border-box;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin: 0px;
}
.wrapper {
    background-color: white;
    width: 100%;
    margin: auto;
}

/*-----------------header-------------------*/
#to-header{
    padding: 20px 20px 10px 10px;
}

#to-header img{
    max-width: 100px;
}

header span {
    float: right;
}

header a {
    padding-right: 5px;
    text-decoration: none;
}

/*-------------------nav--------------------*/
nav {
    background-color: #3a3a3a;
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    width: auto;
    
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
}



nav ul a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}
nav ul:hover{
    color: #4c96d7;
}
nav a:hover {
    color: #000;
    background-color: #4c96d7;
    padding: 15px 5px;
    margin: -3px;
    font-weight: 700;
}

/*------------------main--------------------*/
.main_content h1 {
    padding-left: 15px;
}
.main_content p {
    padding-left: 20px;
}
.main_content {
    position: relative;
}
.message {
    color: #2476d3;
    position: absolute;
    width: 40%;
    font-size: 1em;
    top: 90px;
    left: 50px;
    line-height: 5px;
}

#motor_car_pic {
    width: 100%;
}
#own_today_button {
    width: 30%;
    margin: 20px auto;
    
}
#own_today_button img{
    width: 100%;
}
/*--------------dmc---------------*/
.sub_title {
    text-align: left;
    padding-left: 15px;
    font-size: 1.9rem;
    font-weight: bold;
}
/*-------------upgrade-------------*/
.upgrade_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
figure{
    margin: auto;
}
.upgrade img {
    background-color: #4c96d7;
    border: 1px solid #3a3a3a;
    max-height: 200px;
    padding: 20px 60px;
}
figcaption {
    text-align: center;
}
/*-----------------footer-------------------*/
hr {
    border: 2px solid rgb(124, 121, 121);
    width: 100%;
}
footer {
    padding: 10px;
}
footer p {
    text-align: center;
}
/*-----------------login & register-------------------*/
.main_content {
    padding: 20px;
}

.main_content ul {
    list-style-type: none;
}

input[type=submit] {
    margin: 10px;
    padding: 5px;
    background-color: rgb(65, 150, 230);
}
.login p {
    font-size: 1.3rem;
}

.msg {
    padding-left: 10px;
}

.space {
    padding-left: 20px;
}

/*---------for vehicle display in classification view-----*/
#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
    border-radius: 0.6em;
    margin: 10px;
    padding-bottom: 10px;
}
   
#inv-display li img {
    max-width: 100%;
    border-radius: 0.6em 0.6em 0 0;
}

#inv-display h2 {
    margin: 10px;
}

#inv-display span {
    margin: 10px;
}
/*---------for vehicle detail display----------*/
#inv-detail-display {
    margin: 15px;
    padding: 15px;
    display: flex;
}

#inv-detail-display div:nth-child(2){
    padding: 10px;
    border: 2px #ccc solid;
    border-radius: 0.6em;
    background: rgb(240, 238, 238);
    margin-top: 10px;
}

#inv-detail-display img {
    width: 100%;
    margin: auto;
}

#thumnails {
    margin: 15px;
    padding: 15px;
}

#thumnails li{
    display: flex;
    flex-direction: row;
}

#thumnails img {
    width: 45%;
    margin: 10px;
}
/*---------Reviews---------*/
#reviewform {
    margin-bottom: 20px;
}

#reviewform h3 {
    padding: 5px;
}

#reviewform textarea {
    max-width: 250px;
}

#eachreview {
    background-color: rgb(253, 224, 151);
    margin-bottom: 10px;
    padding: 10px;
}
#eachreview h3, h4 {
    margin: 5px;
    display: inline;
}
#writtenreviewtext{
    background-color: white;
    padding: 10px;
    margin: 0;
}

/*---------Delete review --------*/

#deletwarning{
    color: red;
    margin-bottom: 10px;
    padding: 5px;
}
#reviewForDelete{
    background-color: rgb(253, 224, 151);
    margin: 5px;
}


.redmessage {
    color: red;
}


@media only screen and (min-width: 55rem) {
    body {
        background-image: url("/phpmotors/images/site/checkerboard.jpg");
        background-repeat: repeat;
    } 
    #wrapper {
        border: 5px solid #4c96d7;
        border-radius: 0.6em;
        width: 90%;
        background-color: #ffffff;
        margin: 20px auto;
    }
    /*--------header------------*/
    #to-header img{
        max-width: 200px;
    }

    nav ul li {
        padding: 0 5px 0 5px;
    }

    /*---------main-----------*/
    .message {
        position: absolute;
        top: 80px;
        left: 70px;
    }

    #own_today_button img{
        position: absolute;
        top: 190px;
        left: 50px;
        width: 20%;
        max-width: 250px;
    }
    /*----reviw and upgrades---*/
    #review_upgrade {
        display: flex;
        flex-direction: row;
        grid-gap: 5px;
        margin: 20px;
    }
    .dmc {
        width: 300px;
        height: 400px;
        padding: 10px;
        margin: auto;
        flex: 50%;
    }
    .upgrade {
        order: -1;
        width: 300px;
        padding: 10px;
        margin: auto;
        flex: 50%;
    }
    /* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
        margin: 0 50px 0 50px;
	}

	#inv-display h2{
		font-size: 1rem;
        margin: 5px;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
	}

    /* For vehicle detail display*/
    #inv-detail-display li {
        display: flex;
        margin: auto;
    }
    #inv-detail-display div {
		padding: 10px;
	}
    .thumbnailtitle {
        display: none;
    }
    /* For vehicle detail only for bigger screen */
    .vehicle_wrap {
        display: flex;
        flex-direction: row-reverse;
    }
    #inv-detail-display {
        margin: auto;
    }

    #inv-detail-display div:nth-child(1){
        width: 90%;
    }

    #inv-detail-display div:nth-child(2){
        margin-top: 0;
        margin-left: 10px;
        flex-shrink: 2;
    }


    #thumnails {
        margin: auto;
    }
    #thumnails li{
        flex-direction: column;
        width: 95%;
    }

    #thumnails img {
        width: 100%;
    }
    #thumnails img:hover {
        transform:scale(1.5);
    }
    
} 